{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Kraken
            </div>
            <div class="card-block">
              <ul>
                {% for currency, balance in kraken_balance_info %}
                  <li>{{ currency }} : {{ balance }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Binance
            </div>
            <div class="card-block">
                <ul>
                  {% for entry in bitrex_balance_info %}
                    <li>{{ entry.asset }} : {{ entry.free }}</li>
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'boostrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
